<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasquatch Websighting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Sasquatch Websighting</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
            <h1>{{user.first_name}} {{user.last_name}}</h1>
        </div>

    </nav>
    <form action="/create/sighting" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Report a sighting</h2>
        {% with messages = get_flashed_messages(category_filter=['sasquatch']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>All fields must be Present</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-9">
            <div class="col-4">
                <div class="form-group">
                    <label for="name">Location:</label>
                    <input type="text" name="location" class="form-control">
                </div>
                <div class="form-group">
                    <label for="description">What happened:</label>
                    <textarea name="description"  cols="30" rows="5" class="form-control"></textarea>
                </div>
                <input type="submit" href="dashboard.html" value="Report" class="btn btn-primary">
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="sighting_at">Date Made:</label>
                    <input type="date" name="sighting_at" class="form-control">
                </div>
                <div class="form-group">
                    <label for="number_sasq">Number of Sasquatch:</label>
                    <input type="number" name="number_sasq" value="0" class="form-control">
                <br>
                </div>
            </div>
        </div>
    </form>
</body>
</html>